In [2]:
import pandas as pd

:

In [3]:
df= pd.read_csv("https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv")

:

In [4]:
print(df.head())

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

:

In [5]:
df.sort_values(["Coffee Type"], ascending=True)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
2     Tuesday    Espresso          30
4   Wednesday    Espresso          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
1      Monday       Latte          15
3     Tuesday       Latte          20
5   Wednesday       Latte          25
7    Thursday       Latte          30
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35

:

In [15]:
df.loc[df["Units Sold"] > 26, ['Day', 'Units Sold']]

          Day  Units Sold
2     Tuesday          30
4   Wednesday          35
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

:

:

In [18]:
new_coffee = df.copy
new_coffee ['price'] = 3.99

TypeError: 'method' object does not support item assignment